old/
pkgs/
*.code-workspace
scripts/slurm-logs/
scripts/.snakemake/
scripts/old/
scripts/wub/
.snakemake/
slurm-logs/
etc/
snakemake/.snakemake/
docs/scripts/lib/__pycache__/
*.RHistory*

data/old/mm39-20X-vcf-snps.csv
data/old/mm39-iterative-20X-vcf-snps.csv
data/mm39-30X-0.005h-snps.csv.gz
data/mm39-30X-0.005h-snps-genmap.csv.gz