old/
pkgs/
*.code-workspace
scripts/slurm-logs/
scripts/.snakemake/
scripts/old/
scripts/wub/
.snakemake/
slurm-logs/
etc/
snakemake/.snakemake/

docs/data/mm39-20X-vcf-snps.csv
docs/data/mm39-iterative-20X-vcf-snps.csv